MEETING_BAAS_API_KEY=votre clé api 
GLADIA_API_KEY = votre clé api 
VEXA_API_KEY = votre clé api 
GROQ_API_KEY = votre clé api 
FRONTEND_URL="votre url frontend"
MISTRAL_API_KEY =votre clé api 
TOGETHER_API_KEY=votre clé api
TOGETHER_MODEL=Qwen/Qwen3.7-Max
DATABASE_URL=votre clé api 