MEETING_BAAS_API_KEY="votre clé api"
GLADIA_API_KEY="votre clé api"
VEXA_API_KEY="votre clé api"
TOGETHER_API_KEY="votre clé api"
TOGETHER_MODEL="Qwen/Qwen3.7-Max"
FRONTEND_URL="votre url frontend"
DATABASE_URL="votre url de base de données"